.container
  .row: .col-md-12
    #section-header FROM OUR CUSTOMER
  #carousel.row
    .col-md-4
      .testimonials
        i.fa.fa-quote-left
        .content Nullam sit amet mi magna. Aliquam interdum magna sit amet rhoncus blandit. Pellentesque vel ante auctor, condimentum nisl euismod, bibendum metus. Proin ultrices tellus vel ligula.
        .image: img.img-responsive(src="../assets/images/section-6__testimonials/1.jpg")
        .name LAUREN REED
    .col-md-4
      .testimonials.active
        i.fa.fa-quote-left
        .content Nullam sit amet mi magna. Aliquam interdum magna sit amet rhoncus blandit. Pellentesque vel ante auctor, condimentum nisl euismod, bibendum metus. Proin ultrices tellus vel ligula.
        .image: img.img-responsive(src="../assets/images/section-6__testimonials/1.jpg")
        .name LAUREN REED
    .col-md-4
      .testimonials
        i.fa.fa-quote-left
        .content Nullam sit amet mi magna. Aliquam interdum magna sit amet rhoncus blandit. Pellentesque vel ante auctor, condimentum nisl euismod, bibendum metus. Proin ultrices tellus vel ligula.
        .image: img.img-responsive(src="../assets/images/section-6__testimonials/1.jpg")
        .name LAUREN REED

