#footer-inner.container-fluid
  .container
    .row
      .col-md-4
        h1 CONTACT ECOFOOD
        ul
          li
            i.fa.fa-map-marker
            span 256 address name, New York city
          li
            i.fa.fa-clock-o
            span 7:30 Am - 11:00 Pm. Monday - Sunday
          li
            i.fa.fa-phone
            span (044) 359 0173

      .col-md-5
        h1 CUSTOMER SERVICES
        .row
          .col-md-6
            ul
              li: a Product recall notices
              li: a Order information
              li: a Shipping & returns
          .col-md-6
            ul
              li: a Privacy policy
              li: a Terms & conditions
              li: a FAQs
      .col-md-2
        h1 PAYMENTS METHOD
        #payment-method.row.no-gutters
          .col-md-4: img.img-responsive(src="../assets/images/payment-method/1.png")
          .col-md-4: img.img-responsive(src="../assets/images/payment-method/2.png")
          .col-md-4: img.img-responsive(src="../assets/images/payment-method/3.png")
          .col-md-4: img.img-responsive(src="../assets/images/payment-method/4.png")
          .col-md-4: img.img-responsive(src="../assets/images/payment-method/5.png")

    #footer-bottom.row
      p © 2017 Designed by AuThemes. All rights reserved.
      ul.social-links
        li: a: i.fa.fa-facebook
        li: a: i.fa.fa-google-plus
        li: a: i.fa.fa-youtube
