.container-fluid: .row
 .col-md-6
   #banner-1.banner
      .title FREE SHIPPING
      .sub-title with order over $50.00
      button Shop now
 .col-md-6
   #banner-2.banner
      .title SAVE OVER $20.00
      .sub-title with ecofood membership
      button Shop now
