.container
  .row: .col-md-12
    #section-header Deal of the day
  .row
    .col-md-4
      .product-info#left
        .product-image: img.img-responsive(src="../assets/images/section-4__deal-of-the-day/carrot.png")
        .product-content
          .name 200g carrot
          .detail Maecenas tristique gravida, odio et sagi ttis justo endisse ultricies
    .col-md-4
      #deal-of-the-day-image: img(src="../assets/images/section-4__deal-of-the-day/1.png")
      #action
        .price Price: $15.00
        .add-to-cart-button Add to cart
    .col-md-4
      .product-info#right
        .product-image: img.img-responsive(src="../assets/images/section-4__deal-of-the-day/corn.png")
        .product-content
          .name 500g corn
          .detail Maecenas tristique gravida, odio et sagi ttis justo endisse ultricies
