.container
  .row: .col-md-12
    #section-header WHY CHOOSE US
  .row
    .col-md-4
      .content
        .title Eco systems & biodiversity
        p Phasellus vel ante blandit, suscipit neque sed, egestas quam. Maecenas mi sem, tristique in cursus non, pharetra enim at sem.
    .col-md-4
      .content
        .title Certified organic standards
        p Integer vel erat nec purus feugiat tempor vitae vel ante. Ut mi mi, efficitur a augue ut, rhoncus iaculis ipsum. Vestibulum fringilla quam quis
    .col-md-4
      .content
        .title Fair prices for you
        p Vestibulum purus felis, posuere ac lobortis at. Ut iaculis eros et erat sollicitudin, ut faucibus arcu ultricies. Suspendisse lobortis.

  .row: .col-md-12
    iframe(src="https://www.youtube.com/embed/L9eOWDWlaCk", height=660)
