.container
    #header.row
      form.search-bar.col-md-3
        input(type="text", placeholder="Search")
        button.fa.fa-search(type="submit")
      .logo.col-md-6: img.img-responsive(src="../assets/images/logo.png")
      .shopping-cart.col-md-3
        .cart-total $0.00
        .cart-icon: i.fa.fa-shopping-cart
.container-fluid
  .row
    ul#main-menu.col-md-12
      li: a home
      li: a shop
      li: a about
      li: a pages
      li: a blog
      li: a contact
