.container-fluid
  .row
    #slider.col-md-12
      #slide
        #heading CERTIFICATED PRODUCTS
        #sub-heading Explore hundreds of organic products in-store!
        .btn-group
          button.learn-more-btn Learn more
          button.shop-now-btn Shop now
