$main-green: #649c47
$dark-green: #436930

$main-black: #333333
$dark-black: #1b1e24

$main-red: #ed6663
$dark-red: #d95451

$main-white: #F5F5F5

$main-gray: #666666
$light-gray: #b2b2b2

$main-blue: #94d7fb

$main-purple: #685c88

$main-pink: #fc9cc4

$main-orange: #dc4720
