@import "color"

//  Social Links
$social-links-bgc: #344257
$social-link-icons-color: #525252
$facebook-color: #3b5a9a
$twitter-color: #1aa9e1
$instagram-color: #7c4a3a
$pinterest-color: #cb2027
$linkedin-color: #0073b2
$google-color: #dd4b39


